<div class="main">
    <div class="container">
        <form class="login-form">
            <h2>Sign Up</h2>
            <div class="form-group">
                <input type="text" id="acno" name="acno" placeholder="Enter Your Account Number " required>
            </div>
            <div class="form-group">
                
                <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
            </div>
            <div class="form-group">
                
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
            </div><div class="form-group">
                
                <input type="password" id="confirm-password" name="password" placeholder="Confirm Password" required>
            </div>

            <div class="form-group">
                <button type="submit">SignUp</button>
            </div>
        </form>
      
    </div>
    </div>
    
