
<div class="main">
<div class="container">
    <h1>Welcome to Net Banking</h1>
    <div class="button-container">
        <button class="feature-button">
            <i class="fas fa-user-circle"></i>
            <span class="button-text">View Profile</span>
        </button>
        <button class="feature-button">
            <i class="fas fa-money-bill"></i>
            <span class="button-text">Balance Enquiry</span>
        </button>
        <button class="feature-button">
            <i class="fas fa-exchange-alt"></i>
            <span class="button-text">Money Transfer</span>
        </button>
        <button class="feature-button">
            <i class="fas fa-sign-out-alt"></i>
            <span class="button-text">Log Out</span>
        </button>
        <button class="feature-button">
            <i class="fas fa-trash-alt"></i>
            <span class="button-text">Delete Account</span>
        </button>
    </div>
</div>
</div>